<?xml version="1.0"?>

<launch>
  <node pkg="raspimouse_navigation" name="enable_motors" type="enable_motors.py" required="true" />

  <node pkg="raspimouse_navigation" name="hector_motors" type="hector_motors.py" required="true"/>

  <node pkg="urg_node" type="urg_node" name="urg_node">
    <param name="frame_id" value="base_frame"/>
    <param name="ip_address" value="192.168.0.11"/>
  </node>

</launch>
